<div class="adminPanel">
    <div class='a'>
        {{{user}}}
        <table>
            <tr>
            <th>ЛОГИН</th>
            <th>ПАРОЛЬ</th>
            <th>РОЛЬ</th>
            </tr>
            {{{allUser}}}
        </table>
        
    </div>
</div>